@model IEnumerable<Category>


    <li class="dropdown show nav-item">
        <a asp-controller="Vinyl"
           asp-action="Index"
           class="dropdown-toggle nav-link" data-toggle="dropdown">Categories<b class="caret"></b></a>
        <ul class="dropdown-menu">

            @foreach (var category in Model)
            {
                <li class="nav-item">
                    <a class="dropdown-item" asp-controller="Vinyl" asp-action="List"
                       asp-route-category="@category.CategoryName">@category.CategoryName</a>


                </li>

            }

            <li class="divider"></li>
            <li>

                <a class="dropdown-item" asp-controller="Vinyl" asp-action="List" asp-route-Category="">View all records</a>

            </li>
        </ul>


    </li>

