@model Artist


<div class="thumbnail">
    <img alt="@Model.ArtistName" src="@Model.ImgUrl">
    <div class="caption-full">

        <span class="border">

            <h4>@Model.Description</h4>

        </span>


        @* Перечень альбомов для у каждого артиста *@

        <div class="row">






            </div>



        </div>
    </div>