@model Vinyl

@*@{
    ViewBag.Title = "Edit Product";
    Layout = "_AdminLayout";
}*@
<br />
<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="VinylId" />

    <div class="form-group">
        <label asp-for="Name"></label>
        <div><span asp-validation-for="Name" class="text-danger"></span></div>
        <input asp-for="Name" class="form-control" />
    </div>


    <div class="form-group">
        <label asp-for="ShortDescription"></label>
        <div><span asp-validation-for="ShortDescription" class="text-danger"></span></div>
        <textarea asp-for="ShortDescription" class="form-control"></textarea>
    </div>


    <div class="form-group">
        <label asp-for="LongDescription"></label>
        <div><span asp-validation-for="LongDescription" class="text-danger"></span></div>
        <input asp-for="LongDescription" class="form-control" />
    </div>


    <div class="form-group">
        <label asp-for="Label"></label>
        <div><span asp-validation-for="Label" class="text-danger"></span></div>
        <input asp-for="Label" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Price"></label>
        <div><span asp-validation-for="Price" class="text-danger"></span></div>
        <input asp-for="Price" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="ImageThumbnailUrl"></label>
        <div><span asp-validation-for="ImageThumbnailUrl" class="text-danger"></span></div>
        <input asp-for="ImageThumbnailUrl" class="form-control" />
    </div>


    <div class="form-group">
        <label asp-for="ImageUrl"></label>
        <div><span asp-validation-for="ImageUrl" class="text-danger"></span></div>
        <input asp-for="ImageUrl" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="IsVinylOfTheWeek"></label>
        <div><span asp-validation-for="IsVinylOfTheWeek" class="text-danger"></span></div>
        <input asp-for="IsVinylOfTheWeek" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="InStock"></label>
        <div><span asp-validation-for="InStock" class="text-danger"></span></div>
        <input asp-for="InStock" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="CategoryId"></label>
        <div><span asp-validation-for="CategoryId" class="text-danger"></span></div>
        <input asp-for="CategoryId" class="form-control" />
    </div>


    <div class="text-center">
        <button class="btn btn-primary" type="submit">Save</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>


</form>