@model HomeViewModel


            <partial name="_Carousel" />


            <h2>Vinyl of the week</h2>
            <h4>Our weekly selection - just for you!</h4>


            <div class="row">
                @foreach (var vinyl in Model.VinylsOfTheWeek)
                {
                    <partial name="_VinylCard" model="vinyl" />
                }
            </div>
        
